@font-face {
    font-family: "dosis-medium";
    src: url("/cetmix_dosis_font/static/src/fonts/Dosis-Medium.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "dosis-bold";
    src: url("/cetmix_dosis_font/static/src/fonts/Dosis-Bold.ttf") format("truetype");
    font-weight: bold;
}

.header {
    font-family: "dosis-medium";
}

.row {
    font-family: "dosis-medium";
}

.article {
    font-family: "dosis-medium";
}

.address {
    font-family: "dosis-medium";
}